    html {
        scroll-behavior: smooth;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: large;
    }
    
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: black;
        color: whitesmoke;
    }
    /* iframe {
        width: "380";
        height: "500";
    }*/
    
    .title_of {
        background-image: url("../image/back01.jpg");
        padding: 20px;
        height: 300px;
        white-space: pre-line;
    }
    
    .column {
        width: 25%;
    }
    
    .button {
        display: inline-block;
        padding: 15px 25px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: skyblue;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        width: fit-content;
    }
    
    .button:hover {
        background-color: slategray
    }
    
    .button:active {
        background-color: skyblue;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    
    .audio-icon,
    .video-icon {
        font-size: 60px;
        color: whitesmoke;
        margin: 20px;
        padding-left: 5px;
    }
    
    .text-icon,
    .image-icon {
        font-size: 70px;
        color: whitesmoke;
        margin-left: 60px;
        margin-top: 10px;
        padding-left: 25px;
    }
    
    .audio {
        background-color: darkgray;
        padding: 10px;
        height: 150px;
        width: 160px;
        margin: 20px;
        margin-left: 15px;
        font-size: x-large;
        color: whitesmoke;
    }
    
    .text {
        background-color: darksalmon;
        padding: 5px;
        height: 150px;
        width: 220px;
        margin: 20px;
        margin-left: 70px;
        font-size: x-large;
        color: whitesmoke;
    }
    
    .photo {
        background-color: darkseagreen;
        padding: 5px;
        height: 150px;
        width: 240px;
        margin: 0;
        margin-left: 15px;
        font-size: x-large;
        color: whitesmoke;
    }
    
    .video {
        background-color: salmon;
        padding: 5px;
        height: 150px;
        width: 140px;
        margin: 0;
        margin-left: 150px;
        font-size: x-large;
        color: whitesmoke;
    }
    
    #audio-href {
        background-color: darkgray;
        padding: 10px;
        margin: 10px;
        margin-left: 25px;
        color: whitesmoke;
        height: fit-content;
    }
    
    #text-href {
        background-color: darksalmon;
        padding: 10px;
        margin: 10px;
        margin-left: 25px;
        color: whitesmoke;
        height: fit-content;
    }
    
    #photo-href {
        background-color: darkseagreen;
        padding: 10px;
        margin: 10px;
        margin-left: 25px;
        color: whitesmoke;
        height: fit-content;
    }
    
    #video-href {
        background-color: salmon;
        padding: 10px;
        margin: 10px;
        margin-left: 25px;
        color: whitesmoke;
        height: fit-content;
    }
    
    section {
        width: 400px;
        height: 400px;
        float: left;
        padding: 20px;
        margin-left: 30px;
    }
    
    a:link,
    a:visited {
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    a:hover,
    a:active {}
    
    .card-img-top {
        height: 300px;
    }
    
    audio {
        width: 300px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        border-radius: 90px;
        transform: scale(1.05);
        margin: 10px;
    }